<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>blocks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>娱乐宝.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>201148491B0B593E00E4DE76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>201148611B0B593E00E4DE76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20582C881AC4E17600FFD8D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20582CA11AC4E17600FFD8D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
